body {
    margin: 8px;
    height: 100%;

    /* font-family: verdana, arial, serif; */
    font-size: x-large;
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: #F5F4EB;
}

input {
    display: inline;
}

th {
    font-size: large;
    text-align: left;
}

select {
    font-size: x-large;
}

input {
    font-size: x-large;
}

span {
    font-size: x-large;
}

table {
    font-size: x-large;
}

span.predict {
    font-size: large;
    font-weight: bold;
}


div.menu {
    background-color: #5882FA;
    font-size: large;
    padding-left: 20px;
    padding-top: 10px;
    box-shadow: 10px 10px 5px #888888;
    font-weight: bold;
    white-space: nowrap;
    height: 35px;
}

input.menuBtn {
	border : solid 1px #e6e6e6;
	border-radius : 6px;
	moz-border-radius : 6px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 16px;
	color : #000000;
	padding : 1px 17px;
	background-color : #f7f7f7;
}



div.playField {
    background-color: #5882FA;
    height: 300px;
    box-shadow: 10px 10px 5px #888888;
}

div.playerSelectHeader {
    color: black;
    background-color: #5882FA;
    border-radius: 8px; 
    overflow: hidden;
}

div.playerSelectHeaderTitle {
    float: left;
	margin-left: 100;
	width: 275px;
	font-weight:bold;
}

div.playerSelectHeaderStats {
    float: left;
	width: 200px;
	font-weight:bold;
}

div.playerSelectHeaderScore {
    float: right;
	width: 60px;
	font-weight:bold;
}

div.playerSelect {
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 8px; 
    overflow: hidden;
}

div.playerSelectTitle {
    float: left;
	width:  50px;
	height: 32px;
	margin-top: 5;
	font-weight:bold;
	vertical-align: center;
}

div.playerSelectCombo {
    float: left;
	width: 200px;
}

div.playerSelectStats {
    float: left;
	width:  200px;
	height: 32px;
	margin-left: 25;
	margin-top: 5;
}

div.playerSelectScore {
    float:  right;
	height: 90%;
}

.comboPlayer {
	width:  250px;
	text-align: center;
}

div.gameLogPlayerEntry {
    background-color: #5882FA;
    font-size: medium;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 175px;
    box-shadow: 5px 5px 5px #888888;
}

div.gameLogPlayerEntryWin {
    background-color: #00aa00;
    font-size: medium;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 175px;
    box-shadow: 5px 5px 5px #888888;
}

.tbVP {
	width:  80px;
	height: 40px;
	color : #747862;
	padding:4px 8px;
	margin-bottom:0px;
	min:-50;
	max:200;
}

input.menu {
    font-size: small;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px;
}

input.playBtnLeft  {
	border : solid 5px #ffffff;
	border-radius : 20px 0px 0px 20px ;
	moz-border-radius : 20px 0px 0px 20px ;
	-webkit-box-shadow : 0px 14px 21px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 14px 21px rgba(0,0,0,1.0);
	box-shadow : 0px 14px 21px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #ffffff;
	padding : 2px 20px;
	background-color : #0a66c9;
}
input.playBtnRight  {
	border : solid 5px #ffffff;
	border-radius : 0px 20px 20px 0px ;
	moz-border-radius : 0px 20px 20px 0px ;
	-webkit-box-shadow : 0px 14px 21px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 14px 21px rgba(0,0,0,1.0);
	box-shadow : 0px 14px 21px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #ffffff;
	padding : 2px 20px;
	background-color : #0a66c9;
}
